.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
    text-align: center;
    margin: 0 auto;
    max-width: 30em;
    justify-content: center;
    align-items: center;
}
